<div class="p-6 bg-blue-100 rounded-lg shadow hover:shadow-md transition-shadow relative">
  <button
    class="absolute top-4 right-4 px-4 py-2 bg-blue-700 text-white rounded shadow hover:bg-blue-800 transition-colors"
    onclick="toggleModal('savingsModal')"
  >
    Add Savings
  </button>
<h2 class="text-xl font-bold text-blue-700">Savings</h2>
  <ul class="mt-4 space-y-2">
    <p> TBA </p>
    <%# @savings.each do |saving| %>
    <!--          <li class="text-gray-600"><%#= saving.name %>: <%#= number_to_currency(saving.amount) %></li>-->
    <%# end %>
  </ul>
</div>
